.about {
  margin-top: 95px;
  padding-left: 0;
  display: flex;
}

.about__wrapper {

  h2 {
    margin-bottom: 58px;
  }

  h3 {
    margin: 0;
    margin-top: 26px;
  }

  p {
    margin: 0;
    margin-top: 20px;
    width: 585px;
  }
}
