.about {
  margin-top: 95px;
  padding-left: 0;
  display: flex;

  @include vp-1199 {
    align-items: center;
    picture {
      flex: 1;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        min-width: 160%;
        z-index: -1;

      }
    }
  }
}

.about__wrapper {
  flex: 1;

  @include vp-1199 {
    margin-left: 75px;
  }

  h2 {
    margin-bottom: 58px;
  }

  h3 {
    margin: 0;
    margin-top: 26px;
  }

  p {
    margin: 0;
    margin-top: 20px;
  }
}
