.btn {
  display: inline-flex;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: 1px transparent solid;
  cursor: pointer;

  transition: color, background $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover {
    outline: none;
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    color: $color-resolution-blue;
  }

  @include focus {
    outline: none;
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    color: $color-resolution-blue;
  }

  @include active {
    border: 1px solid $color-resolution-blue;
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }
}
