.header {
  width: 100%;
  z-index: 3;
  position: absolute;
}

.header__wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-weight: 600;
    font-size: 18px;
    color: $color-default-white;

    @include vp-1199 {
      order: 3;
      font-size: 16px;
    }
  }

  @include vp-1199 {
    padding-top: 30px;
    flex-wrap: wrap;
  }
}

.header__nav {
  display: flex;
  gap: 31px;

  a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    @include vp-1199 {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.64px;
    }
  }

  @include vp-1199 {
    flex-direction: column;
    order: 4;
    display: none;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.header__logo {
  svg {
    width: 144px;
    height: 44px;
  }

  @include vp-1199 {
    order: 2;
    height: 44px;
  }
}
