.header {
  width: 100%;
  z-index: 3;
  position: absolute;
}

.header__phone {
  max-width: 142px;
  min-width: 142px;

  @include vp-1199 {
    max-width: 128px;
    min-width: 128px;
  }

  @include vp-767 {
    max-width: 112px;
    min-width: 112px;
  }
}

.header__wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-weight: 600;
    font-size: 18px;
    color: $color-default-white;
    transition: color $trans-default;
    white-space: normal;


    &:disabled {
      opacity: 0.1;
      pointer-events: none;
    }

    @include hover-focus {
      outline: none;
      color: $color-resolution-blue;
    }

    @include active {
      color: $color-navy-blue;
    }

    @include vp-1199 {
      order: 3;
      font-size: 16px;
    }

    @include vp-767 {
      margin-left: auto;
      font-size: 14px;
    }
  }

  @include vp-1199 {
    padding-top: 30px;
    flex-wrap: wrap;
  }

  @include vp-767 {
    padding-top: 15px;
    align-items: start;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 70px;

  @include vp-1199 {
    flex-direction: column;
    order: 4;
    display: none;
    width: 100%;
    padding: 47px 0 65px 0;
    gap: 18px;
    margin-left: -5px;
  }

  @include vp-767 {
    margin-left: -5px;
    padding-top: 18px;
    gap: 14px;
    padding-bottom: 46px;
    padding: 18px 0 46px 0;
  }
}

.header__nav a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 3px 5px;
  transition: border $trans-default;
  border: 1px solid $color-transparent;
  max-width: min-content;

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }

  @include hover {
    outline: none;
    color: $color-default-white;
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    outline: none;
    color: $color-default-white;
    border: 1px solid $color-default-white;
  }

  @include active {
    color: $color-default-white;
    border: 1px solid $color-transparent;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 14px;
  }

  @include vp-1199 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    width: min-content;

    @include hover {
      outline: none;
      color: $color-elephant;
      border-bottom: 1px solid $color-elephant;
    }

    @include focus {
      outline: none;
      color: $color-elephant;
      border: 1px solid $color-elephant;
    }

    @include active {
      color: $color-elephant;
      border: 1px solid $color-transparent;
    }
  }
}

.header__logo {
  height: 62px;

  svg {
    width: 205px;
    height: 62px;

    @include vp-1199 {
      width: 144px;
      height: 44px;
    }

    @include vp-767 {
      width: 112px;
      height: 34px;
    }
  }

  @include vp-1199 {
    margin-left: 99px;
    order: 2;
    height: 44px;
  }

  @include vp-767 {
    margin-bottom: 4px;
    padding-left: 50px;
    height: 34px;
  }
}
