.polaroid {
  position: absolute;
  bottom: 190px;
  right: 222px;
  z-index: -1;

  @include vp-1199 {
    position: relative;
    bottom: auto;
    right: auto;
    display: flex;
    margin-top: 34px;
  }

  @include vp-767 {
    display: none;
  }

  picture:first-child {
    @include vp-1199 {
      z-index: -1;
      width: 266px;
      height: 312px;
    }
  }

  picture:last-child {
    position: absolute;
    top: 92px;
    right: -102px;

    @include vp-1199 {
      position: relative;
      top: auto;
      right: auto;
      z-index: 1;
      width: 236px;
      height: 312px;
      margin-left: -59px;
      margin-top: 52px;
    }
  }
}
