.process__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 82px;

    &::after {
      position: absolute;
      content: "";
      width: calc(52% + 2px);
      height: 56px;
      background-color: transparent;
      border: 1px solid rgba(2, 102, 193, 0.2);
      border-left: 1px solid transparent;
      top: 47%;
      transform: translateY(-50%);
      left: 7px;
    }
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 17px;
    padding-left: 37px;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 80%;
      background-color: rgba(2, 102, 193, 0.2);
      border: 0;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }
}

.process__item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 32px;
  position: relative;

  @include vp-1199 {
    margin-bottom: 8px;

    &:last-child {
      order: 3;
    }

    &:nth-last-child(2) {
      order: 4;
    }

    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-last-child(-n + 2)::after {
      top: -27px;
      bottom: auto;
    }
  }

  @include vp-767 {
    gap: 13px;

    &:nth-last-child(-n + 2)::after {
      top: 14px;
      transform: none;
    }

    &:last-child {
      order: 4;
    }

    &:nth-last-child(2) {
      order: 3;
    }

    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    svg {
      width: 19px;
      height: 19px;
    }
  }

  span:last-child {
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
      white-space: normal;
      padding-right: 55px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      padding-right: 53px;
    }
  }

  span:first-child {
    display: flex;
    align-items: center;
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $color-navy-blue;
    border-radius: 50%;
    bottom: -40px;
    left: 0;

    @include vp-1199 {
      bottom: -23px;
    }

    @include vp-767 {
      bottom: auto;
      top: 14px;
      transform: none;
      left: -33px;
    }
  }
}
