.questions {
  @include background-image ("bg-form", "backgrounds", "jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include vp-1199 {
    height: 679px;
  }

  @include vp-767 {
    height: 621px;
  }
}

.questions__wrapper {
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-top: 305px;

  @include vp-1199 {
    padding: 0 236px;
    padding-top: 181px;
  }

  @include vp-767 {
    padding: 0;
    padding-top: 175px;
  }

  h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    margin: 0;
    margin-right: 17px;
    margin-top: 7px;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;
      margin-right: 0;
      margin-top: 12px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin-top: 8px;
    }
  }

  p {
    font-size: 16px;
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 17px;

    @include vp-1199 {
      font-size: 16px;
      line-height: 24px;
      margin-top: 18px;
      margin-right: 1px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      margin-top: 12px;
    }
  }
}

.questions__form {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 42px;

  @include vp-1199 {
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
    padding: 0 15px;
  }

  @include vp-767 {
    gap: 5px;
    margin-top: 26px;
  }

  fieldset {
    outline: none;
    border: none;
    display: flex;
    padding: 0;
    margin: 0;

    gap: 30px;

    @include vp-1199 {
      width: 100%;
      flex-direction: column;
      gap: 6px;
    }

    @include vp-767 {
      gap: 7px;
    }
  }

  input::placeholder {
    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
    }
  }

  label {
    position: relative;
  }

  button {
    padding: 23px 67px;
    width: 238px;
    height: 64px;
    display: flex;
    justify-content: center;

    @include vp-1199 {
      width: 100%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 19px;
    }

    @include vp-767 {
      padding: 17px;
    }
  }
}

.questions__form input {
  padding: 22px 30px;
  outline: none;
  border: 1px solid $color-transparent;
  width: 340px;

  &::placeholder {
    opacity: 0.5;
  }

  @include hover {
    border: 1px solid $color-navy-blue;
    outline: none;

    &::placeholder {
      color: $color-navy-blue;
    }
  }

  @include focus {
    outline: none;
    border: 1px solid $color-resolution-blue;

    &::placeholder {
      color: $color-transparent;
    }
  }

  @include active {
    outline: none;
    border: 1px solid $color-resolution-blue;

    &::placeholder {
      color: $color-transparent;
    }
  }

  @include vp-1199 {
    width: 100%;
    padding: 15px 15px;
  }

  @include vp-767 {
    padding: 15px 14px;
  }
}


.questions__error {
  color: $color-torch-red;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: none;
  padding-top: 2px;
  position: absolute;
}


.is-invalid {
  input {
    border: 1px solid $color-torch-red;

    +.questions__error {
      display: block;
    }
  }
}
