.reviews {
  margin-top: 0;
  margin-bottom: 52px;

  @include vp-1199 {
    margin-top: 29px;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-top: 0;
    padding-right: 15px;
  }
}

.reviews__slider {
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 30px;
  margin-left: -25px;
  position: relative;
  overflow: visible;

  @include vp-767 {
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: 30px;

    @include vp-1199 {
      margin-bottom: 25px;
    }

    @include vp-767 {
      margin-bottom: 33px;
    }
  }
}

.reviews__wrapper {
  padding: 30px 0;
  padding-left: 120px;
  margin-left: 0;
  margin-right: 0;

  @include vp-1439 {
    margin-left: 51px;
  }

  @include vp-1199 {
    padding-left: 45px;
    margin-left: 0;
  }

  @include vp-767 {
    padding-bottom: 0;
    padding-left: 15px;
    margin-left: 0;
  }
}

.reviews__container {
  display: flex;
  align-items: stretch;

  @include vp-767 {
    align-items: start;
  }
}

.reviews__item {
  max-width: 790px;
  height: auto;
  box-shadow: $box-shadow-coaches;
  padding: 22px 40px 16px 20px;
  display: flex;
  align-items: stretch;
  gap: 30px;


  @include vp-1199 {
    padding-right: 30px;
    max-width: 560px;

    img {
      object-fit: cover;
      width: 186px;
      height: 237px;
    }
  }

  @include vp-767 {
    flex-direction: column;
    padding: 20px;
    gap: 18px;
    padding-bottom: 17px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.reviews__nav {
  right: 110px;
  top: 11px;

  @include vp-1199 {
    right: 35px;
    top: 14px;
  }

  @include vp-767 {
    right: -10px;
    top: 22px;
  }
}

.reviews__content {
  padding-top: 15px;
  padding-bottom: 16px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-1199 {
    padding: 3.5px 0 0 0;
  }

  @include vp-767 {
    padding: 0;
    flex: 0;
    gap: 0;
  }

  p:first-child {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  h4 {
    margin: 0;
    font-size: 13px;
    line-height: 13px;

    @include vp-1199 {
      font-size: 12px;
    }
  }

  span {
    font-size: 12px;
  }
}


.reviews__info {
  margin-top: 24px;

  @include vp-1199 {
    margin-top: 27px;
  }

  @include vp-767 {
    margin-top: 16px;
  }
}
