.slider {
  width: 100%;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: $color-default-white;
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 182px 120px 56px;
  min-height: 800px;

  @include vp-1199 {
    padding: 174px 49px 0 49px;
    align-items: center;
    text-align: center;
    min-height: 1024px;
  }

  @include vp-767 {
    padding: 139px 15px 0;
    min-height: 568px;
  }

  h1 {
    font-size: 77px;
    line-height: 77px;
    margin: 0;
    font-weight: 800;
    padding-right: 252px;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;
      padding-right: 0;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-right: 743px;
    font-size: 17px;
    line-height: 24px;

    @include vp-1199 {
      margin-top: 13px;
      margin-right: 0;
      padding: 0 100px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      padding: 0;
    }
  }
}

.slider__btn {
  margin-top: 35px;
  font-weight: 500;
  font-size: 16px;
  padding: 17px;
  width: 220px;
  display: flex;
  justify-content: center;
  background-color: $color-navy-blue;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include vp-1199 {
    width: 206px;
    padding: 17px;
    margin-top: 27px;
    padding-bottom: 16px;
  }

  @include vp-767 {
    margin-top: 21px;
    line-height: 16px;
    width: 63%;
    padding-top: 20px;
  }
}

.slider__item {
  width: 100%;
  background-size: cover;
  height: auto;

  &--caucasus {
    @include background-image("bg-caucasus", "backgrounds", "jpg");
  }

  &--kamchatka {
    @include background-image("bg-kamchatka", "backgrounds", "jpg");
  }

  &--altai {
    @include background-image("bg-altai", "backgrounds", "jpg");
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: $overlay-slider-gradient;
    width: 100%;
    height: 100%;
  }
}

.slider__container {
  display: flex;
  align-items: stretch;
}
