.tours {
  margin-top: 119px;
  position: relative;
  margin-bottom: 102px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/decorative-img/clouds.png");
    width: 600px;
    height: 279px;
    bottom: -87px;
    left: -387px;

    @include vp-1199 {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/decorative-img/mountains-in-clouds.png");
    width: 602px;
    height: 1364px;
    top: -130px;
    right: 0px;
    z-index: -1;

    @include vp-1199 {
      right: -309px;
      top: -152px;
    }
  }
}

.tours__slider {
  height: 100%;
  padding-top: 19px;
  padding-bottom: 58px;
}

.tours__wrapper {
  p {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;

    @include vp-1199 {
      line-height: 16px;
    }
  }
}

.tours__list {
  display: flex;
  margin-top: 58px;
}
