.video {
  position: absolute;
  bottom: 177px;
  right: 120px;
  z-index: -1;

  @include vp-1199 {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 50px;

    img {
      width: 442px;
      height: 300px;
      object-fit: cover;
    }
  }
}

.video__button {
  outline: none;
  border: none;
  background-color: $color-transparent;
  background-image: url("../img/icons/video-button.svg");
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;

  @include hover {
    background-image: url("../img/icons/video-button-hover.svg");
    width: 56px;
    height: 56px;
  }


  @include active {
    background-image: url("../img/icons/video-button.svg");
    width: 56px;
    height: 56px;
  }
}
